@font-face {
    font-family: 'archyedt-bold';
    src: url('fonts/archyedt-bold/archyedt-bold.eot');
    src: local('☺'), url('fonts/archyedt-bold/archyedt-bold.woff') format('woff'),
    url('fonts/archyedt-bold/archyedt-bold.ttf') format('truetype'),
    url('fonts/archyedt-bold/archyedt-bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bpg_web_001_caps';
    src: url('fonts/bpgweb001caps/bpg_web_001_caps.eot');
    src: local('☺'), url('fonts/bpgweb001caps/bpg_web_001_caps.woff') format('woff'),
    url('fonts/bpgweb001caps/bpg_web_001_caps.ttf') format('truetype'),
    url('fonts/bpgweb001caps/bpg_web_001_caps.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bpg_web';
    src: url('fonts/bpg_web/bpg_web.eot');
    src: local('☺'), url('fonts/bpg_web/bpg_web.woff') format('woff'), url('fonts/bpg_web/bpg_web.ttf') format('truetype'), url('fonts/bpg_web/bpg_web.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bpg_phone_sans_italic';
    src: url('fonts/bpg_phone/bpg_phone_sans_italic.eot');
    src: local('☺'), url('fonts/bpg_phone/bpg_phone_sans_italic.woff') format('woff'), url('fonts/bpg_phone/bpg_phone_sans_italic.ttf') format('truetype'), url('fonts/bpg_phone/bpg_phone_sans_italic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bpg_excelsior';
    src: url('fonts/bpg_excelsior/condenes.eot');
    src: local('☺'), url('fonts/bpg_excelsior/condenes.woff') format('woff'),
    url('fonts/bpg_excelsior/condenes.ttf') format('truetype'),
    url('fonts/bpg_excelsior/condenes.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BPG_Excelsior_Caps';
    src: url('fonts/BPG_Excelsior_Caps/BPG_Excelsior_Caps.eot');
    src: local('☺'), url('fonts/BPG_Excelsior_Caps/BPG_Excelsior_Caps.woff') format('woff'), url('fonts/BPG_Excelsior_Caps/BPG_Excelsior_Caps.ttf') format('truetype'), url('fonts/BPG_Excelsior_Caps/BPG_Excelsior_Caps.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bpg_gel';
    src: url('fonts/bpg_gel/bpg_gel.eot');
    src: local('☺'), url('fonts/bpg_gel/bpg_gel.woff') format('woff'), url('fonts/bpg_gel/bpg_gel.ttf') format('truetype'), url('fonts/bpg_gel/bpg_gel.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-cond';
    src: url('fonts/roboto/roboto-cond.eot');
    src: local('☺'), url('fonts/roboto/roboto-cond.woff') format('woff'), url('fonts/roboto/roboto-cond.ttf') format('truetype'), url('fonts/roboto/roboto-cond.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoCondensed-Bold';
    src: url('fonts/RobotoCondensed-Bold/RobotoCondensed-Bold.eot');
    src: local('☺'), url('fonts/RobotoCondensed-Bold/RobotoCondensed-Bold.woff') format('woff'), url('fonts/RobotoCondensed-Bold/RobotoCondensed-Bold.ttf') format('truetype'), url('fonts/RobotoCondensed-Bold/RobotoCondensed-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
