@import url(reset.css);
@import url(fonts.css);
@import url(bootstrap-theme.css);
@import url(rating.css);
@import url(nouislider.min.css);
@import url(fontawesome.css);
@import url(bootstrap.css);
@import url(bootstrap-select.css);
body,
html {
    height: 100%;
}

header {
    height: 85px;
}

.header-menu ul {
    margin: 0;
    padding: 0;
}

.header-menu ul li {
    display: block;
    float: left;
    width: 11.111%;
    height: 85px;
    text-align: center;
    cursor: pointer;
}

.header-menu ul li a {
    display: block;
    color: #000;
    font-size: 14px;
    line-height: 17px;
    padding-top: 55px;
    text-decoration: none;
    font-family: 'archyedt-bold';
    letter-spacing: 0.5px;
}

.header-menu li.active,
.header-menu ul li:hover {
    background-color: #42B947;
}

.header-menu li.active a,
.header-menu ul li:hover a {
    color: #fff;
}

/*menu items*/

.menu-item-1 {
    background: url(../img/menu-icons/home-b.png);
    background-position: 50% 32%;
    background-repeat: no-repeat;
}

.menu-item-1:hover,
.menu-item-1:active,
.menu-item-1:focus {
    background: url(../img/menu-icons/home-w.png);
    background-position: 50% 32%;
    background-repeat: no-repeat;
}

.menu-item-1-act {
    background: url(../img/menu-icons/home-w.png);
    background-position: 50% 32%;
    background-repeat: no-repeat;
}

.menu-item-2 {
    background: url(../img/menu-icons/theater-b.png);
    background-position: 50% 32%;
    background-repeat: no-repeat;
}

.menu-item-2-act {
    background: url(../img/menu-icons/theater-w.png);
    background-position: 50% 32%;
    background-repeat: no-repeat;
}

.menu-item-2:hover,
.menu-item-2:active,
.menu-item-2:focus {
    background: url(../img/menu-icons/theater-w.png);
    background-position: 50% 32%;
    background-repeat: no-repeat;
}

.menu-item-3 {
    background: url(../img/menu-icons/weather-b.png);
    background-position: 50% 32%;
    background-repeat: no-repeat;
}

.menu-item-3-act {
    background: url(../img/menu-icons/weather-w.png);
    background-position: 50% 32%;
    background-repeat: no-repeat;
}

.menu-item-3:hover,
.menu-item-3:active,
.menu-item-3:focus {
    background: url(../img/menu-icons/weather-w.png);
    background-position: 50% 32%;
    background-repeat: no-repeat;
}

.menu-item-4 {
    background: url(../img/menu-icons/streets-b.png);
    background-position: 50% 32%;
    background-repeat: no-repeat;
}

.menu-item-4-act {
    background: url(../img/menu-icons/streets-w.png);
    background-position: 50% 32%;
    background-repeat: no-repeat;
}

.menu-item-4:hover,
.menu-item-4:active,
.menu-item-4:focus {
    background: url(../img/menu-icons/streets-w.png);
    background-position: 50% 32%;
    background-repeat: no-repeat;
}

.menu-item-5 {
    background: url(../img/menu-icons/transport-b.png);
    background-position: 50% 32%;
    background-repeat: no-repeat;
}

.menu-item-5-act {
    background: url(../img/menu-icons/transport-w.png);
    background-position: 50% 32%;
    background-repeat: no-repeat;
}

.menu-item-5:hover,
.menu-item-5:active,
.menu-item-5:focus {
    background: url(../img/menu-icons/transport-w.png);
    background-position: 50% 32%;
    background-repeat: no-repeat;
}

.menu-item-6 {
    background: url(../img/menu-icons/calendar-b.png);
    background-position: 50% 32%;
    background-repeat: no-repeat;
}

.menu-item-6-act {
    background: url(../img/menu-icons/calendar-w.png);
    background-position: 50% 32%;
    background-repeat: no-repeat;
}

.menu-item-6:hover,
.menu-item-6:active,
.menu-item-6:focus {
    background: url(../img/menu-icons/calendar-w.png);
    background-position: 50% 32%;
    background-repeat: no-repeat;
}

.menu-item-7 {
    background: url(../img/menu-icons/home-b.png);
    background-position: 50% 32%;
    background-repeat: no-repeat;
}

.menu-item-7-act {
    background: url(../img/menu-icons/home-w.png);
    background-position: 50% 32%;
    background-repeat: no-repeat;
}

.menu-item-7:hover,
.menu-item-7:active,
.menu-item-7:focus {
    background: url(../img/menu-icons/home-w.png);
    background-position: 50% 32%;
    background-repeat: no-repeat;
}

.menu-item-8 {
    background: url(../img/menu-icons/city-b.png);
    background-position: 50% 32%;
    background-repeat: no-repeat;
}

.menu-item-8-act {
    background: url(../img/menu-icons/city-w.png);
    background-position: 50% 32%;
    background-repeat: no-repeat;
}

.menu-item-8:hover,
.menu-item-8:active,
.menu-item-8:focus {
    background: url(../img/menu-icons/city-w.png);
    background-position: 50% 32%;
    background-repeat: no-repeat;
}

.menu-item-9 {
    background: url(../img/menu-icons/transport-b.png);
    background-position: 50% 32%;
    background-repeat: no-repeat;
}

.menu-item-9-act {
    background: url(../img/menu-icons/transport-w.png);
    background-position: 50% 32%;
    background-repeat: no-repeat;
}

.menu-item-9:hover,
.menu-item-9:active,
.menu-item-9:focus {
    background: url(../img/menu-icons/transport-w.png);
    background-position: 50% 32%;
    background-repeat: no-repeat;
}

/*menu items*/

.bg-block {
    position: relative;
    height: 682px;
}

.img-bg {
    background: url(../img/bg.png);
    background-position: top center;
    background-size: cover;
    height: 682px;
}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(44, 66, 81, 0.4);
    z-index: 2;
}

.img-bg-afisha {
    background: url(../img/bg-afisha.png);
    background-position: top center;
    background-size: cover;
    height: 682px;
}

.img-bg-transport {
    background: url(../img/transport-bg.png);
    background-position: center;
    background-size: cover;
    height: 100%
}

.bg-transport-bk {
    height: 100%;
}

.img-overlay-afisha {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 148, 68, 0.4);
    z-index: 2;
}

.logo-block {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 152px;
    height: 76px;
    margin: auto;
    background: url(../img/logo-bg.png);
    z-index: 5;
}

.logo-img {
    text-align: center;
    padding-top: 12px;
}

.user-info {
    position: absolute;
    top: 27px;
    left: 40px;
    z-index: 3;
}

.user-info a {
    font-size: 12px;
    height: 18px;
    display: block;
    color: #fff;
    font-family: 'bpg_web_001_caps';
    background: url(../img/user-icon.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 30px;
    text-decoration: none;
    line-height: 20px;
}

/*language toggle*/

.language-toggle {
    position: absolute;
    right: 40px;
    top: 27px;
    z-index: 3;
}

.language-span {
    display: block;
    float: left;
    font-size: 10px;
    color: #fff;
    font-family: 'bpg_web_001_caps';
    line-height: 19px;
    cursor: pointer;
}

.active-lang {
    color: #42B947;
}

#geo {
    margin-right: 10px;
}

#eng {
    margin-left: 10px;
}

.switch {
    position: relative;
    display: block;
    float: left;
    width: 36px;
    height: 18px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid #fff;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 2px;
    bottom: 2px;
    background-color: #42B947;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: transparent;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

.span-checked {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*end language toggle*/

.category-title {
    position: absolute;
    top: 116px;
    left: 0;
    right: 0;
    z-index: 3;
    text-align: center;
    font-size: 26px;
    color: #fff;
    font-family: 'bpg_web';
}

.saved-block {
    position: absolute;
    left: 0;
    top: 302px;
    z-index: 3;
    width: 227px;
    height: 50px;
    background: #1B2D2A;
    border-radius: 25px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;

}

.saved-block-inner {
    font-size: 12px;
    color: #fff;
    font-family: 'bpg_web';
    padding-left: 78px;
    background: url(../img/saved.png);
    background-position: 42px 62%;
    background-repeat: no-repeat;
    padding-top: 8px;
}

.search-block {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 5;
    margin: auto;
    width: 780px;
    height: 60px;
    top: 295px;
}

.search-block-inner {
    position: relative;
    height: 60px;
    background: #fff;
    border: 1px solid #E0E0E0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.search-tab-first {
    float: left;
    height: 100%;
    width: 50%;
}

.search-tab-two {
    float: right;
    width: 50%;
    height: 100%;
}

.search-inp {
    padding-top: 10px
}

.search-inp input {
    border: none;
    width: 100%;
    height: 40px;
    font-size: 12px;
    font-family: 'bpg_phone_sans_italic';
    color: #000;
    outline: 0;
    background: transparent;
    padding: 0px 40px;
}

.search-tab-first input {
    border-right: 1px solid rgba(73, 81, 11, .5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.flight-directions-bk-inner img {
    max-width: 100%;
}

.search-btn {
    position: absolute;
    right: -68px;
    top: -5.5px;
}

.search-btn a {
    background: url(../img/search.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #42B947;
    width: 68px;
    height: 68px;
    display: block;
    font-size: 0px;
}

/*bottom cats*/

.bottom-categories {
    width: 66%;
    height: 132px;
    margin: auto;
    margin-top: -60px;
    background: #F6F6F6;
    border: 1px solid rgba(73, 81, 111, 0.1);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    position: relative;
    z-index: 3;
    margin-bottom: 100px;
}

.bottom-categories-inner {
    height: 100%;
    position: relative;
}

.bottom-categories-inner .row {
    height: 100%;
}

.cat-item-each {
    position: relative;
    height: 100%;
    padding: 0px;
    border-right: 1px solid rgba(73, 81, 111, 0.1);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.cat-item-each a {
    text-decoration: none;
}

.cats-afisha {
    width: 44%;
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    margin: auto;
}

.cat-item-each:nth-child(6) {
    border-right: 0px;
}

.cat-item-icon {
    position: absolute;
    bottom: 18px;
    left: 0;
    right: 0;
    text-align: center;
}

.cat-item-title {
    font-size: 14px;
    color: rgb(46, 46, 46);
    font-family: 'bpg_web_001_caps';
    text-align: center;
    padding: 15px 10px 0px 10px;
}

.cat-item-each:nth-child(3) .cat-item-title {
    padding-top: 24px;
}

.other-cats {
    position: absolute;
    bottom: -48px;
    left: 0;
    right: 0;
    width: 96px;
    height: 48px;
    margin: auto;
    border-bottom-left-radius: 49px;
    border-bottom-right-radius: 49px;
    border: 1px solid rgba(73, 81, 111, 0.1);
    border-bottom: 0;
    border-top: 0px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.other-cats-inner {
    text-align: center;
    font-size: 12px;
    color: rgb(46, 46, 46);
    font-family: 'bpg_web_001_caps';
    padding-top: 12px;
    background: url(../img/arrow-down.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    padding-bottom: 8px;
}

/* end bottom cats*/

main {
    background: rgba(246, 246, 246);
    padding-bottom: 80px;
    overflow: hidden;
}

.popular-block {
    background: url(../img/popular-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    width: 383px;
    height: 80px;
    margin: auto;
    color: rgb(27, 45, 42);
    margin-bottom: 40px;
}

.popular-block-inner {
    text-align: center;
    font-size: 14px;
    color: rgb(27, 45, 42);
    font-family: 'bpg_web_001_caps';
    line-height: 65px;
}

.title-big-bk {
    font-size: 50px;
    opacity: 0.1;
    color: rgb(27, 45, 42);
    font-family: 'bpg_web_001_caps';
    line-height: 40px;
}

.pop-item-each {
    height: 337px;
    padding: 0 28px;
    position: relative;
}

.pop-item-each-wt {
    background: #fff;
    height: 337px;
}

.pop-item-each-wt-inner {
    padding: 20px;
}

.item-destination {
    display: block;
    float: left;
    font-size: 16px;
    line-height: normal;
    color: rgb(44, 66, 81);
    font-family: 'bpg_web';
    margin-bottom: 8px;
    background: url(../img/dest.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 30px;
    line-height: 20px;
}

.item-menu {
    font-family: 'bpg_excelsior';
    font-size: 13px;
    color: rgba(44, 66, 81, 0.3);
    margin-bottom: 8px;
    line-height: normal;
    clear: both;
}

.item-rating {
    font-family: 'BPG_Excelsior_Caps';
    font-size: 11px;
    color: rgb(44, 66, 81);
}

.favorite-item {
    float: right;
    clear: right;
}

.favorite-item a {
    background: url(../img/favorite.png);
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0px;
    width: 14px;
    height: 18px;
    display: block;
}

.item-bottom-info {
    position: absolute;
    left: 50px;
    bottom: 10px;
    width: 80%;
}

.left-bottom {
    float: left;
}

.left-bottom span {
    display: block;
}

.left-bottom span:first-child {
    color: rgb(66, 185, 71);
    font-size: 12px;
    font-family: 'BPG_Excelsior_Caps';
}

.left-bottom span:last-child {
    color: rgb(44, 66, 81);
    font-size: 12px;
    font-family: 'bpg_excelsior';
}

.right-bottom {
    float: right;
    padding-top: 3px;
}

.item-image-block {
    position: absolute;
    left: 14px;
    right: 0;
    bottom: 57px;
    width: 360px;
}

.pop-items-row {
    margin-bottom: 60px;
}

.item-image {
    position: relative;
}

.item-image-inner {
    position: relative;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(270deg, rgba(44, 66, 81, 0.08) 0%, rgba(44, 66, 81, 0.84) 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(44, 66, 81, 0.08)), color-stop(100%, rgba(44, 66, 81, 0.84)));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, rgba(44, 66, 81, 0.08) 0%, rgba(44, 66, 81, 0.84) 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, rgba(44, 66, 81, 0.08) 0%, rgba(44, 66, 81, 0.84) 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, rgba(44, 66, 81, 0.08) 0%, rgba(44, 66, 81, 0.84) 100%);
    /* ie10+ */
    background: linear-gradient(180deg, rgba(44, 66, 81, 0.08) 0%, rgba(44, 66, 81, 0.84) 100%);
    /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2C4251', endColorstr='#2C4251', GradientType=0);
    /* ie6-9 */
}

.addres-item {
    position: absolute;
    bottom: 20px;
    left: 32px;
    color: #fff;
    font-size: 13px;
    font-family: 'bpg_excelsior';
    background: url(../img/pin.png);
    background-position: left center;
    background-repeat: no-repeat;
    line-height: 20px;
    padding-left: 26px;
}

.menu-icon {
    float: left;
    margin-right: 30px;
}

.menu-icon a {
    background: url(../img/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 13px;
    height: 19px;
    font-size: 0px;
    display: block;

}

.item-bot-box {
    float: left;
    margin-right: 20px;
}

.item-bot-box a {
    background: url(../img/box.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 19px;
    height: 21px;
    font-size: 0px;
    display: block;

}

.item-bottom-phone {
    float: left;
    margin-right: 20px;
    padding-left: 20px;
    border-left: 1px solid #cccccc;
}

.item-bottom-phone a {
    background: url(../img/phone.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 19px;
    height: 24px;
    font-size: 0px;
    display: block;

}

.star-rating {
    line-height: normal;
    font-size: 1.15em;
}

.star-rating .fa-star {
    color: #E1D133;
}

.rating-block {
    display: inline-block;
    padding-left: 3px;
}

footer {
    background: rgb(239, 239, 239);
    height: 400px;
}

.footer-inner {
    padding: 59px 0px;
}

.download-app {
    text-align: left;
    display: block;
    float: right;
    color: rgb(27, 45, 42);
    font-size: 14px;
    font-family: 'BPG_Excelsior_Caps';
    text-decoration: none !important;
    cursor: pointer;

}

.download-app:hover {
    color: rgb(27, 45, 42);
}


.foot-menu-title {
    color: rgb(27, 45, 42);
    font-family: 'BPG_Excelsior_Caps';
    font-size: 14px;
    padding-bottom: 30px;
}

.footer-menu-each ul li a {
    font-size: 14px;
    color: rgb(121, 121, 121);
    font-family: 'bpg_excelsior';
    line-height: 23px;
    text-decoration: none;
}

.affisha-block-main {
    padding-top: 70px;
}

.search-one-inp {
    width: 100%;
    height: 100%;

}

.search-one-inp input {
    border: none;
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-family: 'bpg_phone_sans_italic';
    color: #000;
    outline: 0;
    background: transparent;
    padding: 0px 40px;
}

.cats-afisha .cat-item-each:nth-child(3) .cat-item-title {
    padding-top: 15px;
}

.currency-symbol {
    font-family: 'bpg_gel';
}

.afisha-row {
    margin: 0px -35px 100px -35px;
}

.movie-item-each {
    padding: 0px 35px;
}

.movie-item-wt-inner {
    padding: 20px;

}

.movie-item-wt {
    background: #fff;
    height: 365px;
    position: relative;
}

.movie-title {
    font-size: 16px;
    color: rgb(44, 66, 81);
    font-family: 'bpg_web';
}

.movie-destinations ul li {
    display: block;
    float: left;
    border-right: 1px solid rgba(105, 105, 105, 0.6);
    padding: 0 10px;
    height: 13px;
}

.movie-destinations ul li:first-child {
    padding-left: 0px;
}

.movie-destinations ul li:last-child {
    padding-right: 0px;
    border-right: 0px;
}

.movie-destinations ul li a {
    font-size: 12px;
    opacity: 0.6;
    color: rgb(44, 66, 81);
    font-family: 'bpg_web';
    text-decoration: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    line-height: 13px;
    display: block;
}

.movies-image-infos {
    position: absolute;
    top: 76px;
    left: -10px;
    height: 380px;
}

.movie-item-top {
    overflow: hidden;
}

.movie-image-bk {
    float: left;
    position: relative;
    z-index: 3;
}

.movies-sessions {
    position: absolute;
    height: 100%;
    z-index: 2;
    right: 10px;
    top: 104px;
}

.session-each {
    width: 106px;
    height: 35px;
    border-radius: 30px;
    border: 1px solid #42B947;
    font-family: 'roboto-cond';
    font-size: 13px;
    text-align: right;
    padding: 0px 15px;
    line-height: 34px;
    margin-bottom: 12px;
}

.movie-price-range {
    position: absolute;
    right: 8px;
    bottom: 20px;
    font-family: 'RobotoCondensed-Bold';
    font-size: 18px;
    color: rgb(66, 185, 71);
}

.movie-price-range .currency-symbol {
    font-size: 16px;
}

.price-one {
    padding-right: 2px;
}

.price-two {
    padding-left: 2px;
}

.theater-item-wt {
    background: #fff;
    height: 313px
}

.theater-row {
    margin: 0px -30px;
}

.theater-item-wt-inner {
    padding: 20px;
}

.theater-item-each {
    position: relative;
    padding: 0 30px;
}

.theater-item-title {
    font-size: 16px;
    color: #2C4251;
    font-family: 'bpg_web';
    line-height: normal;
    padding-bottom: 8px;
}

.theater-item-dest {
    color: rgba(44, 66, 81, 0.6);
    font-family: 'bpg_web';
    font-size: 13px;
}

.theater-image-bk {
    position: absolute;
    top: 76px;
    left: 18px;
    width: 360px;
}

.theater-item-bottom {
    position: absolute;
    bottom: 13px;
    left: 50px;
    width: 80%;

}

.theater-startdate {
    float: left;
    font-size: 13px;
    color: #2C4251;
    font-family: 'roboto-cond';
    padding-top: 5px;
}

.theater-cost {
    float: right;
    font-family: 'RobotoCondensed-Bold';
    font-size: 18px;
    color: rgb(66, 185, 71);
    padding-right: 20px;
}

.burger-sm {
    margin: auto;
    width: 152px;
    height: 34px;
    background: #fff;
    position: relative;
    z-index: 5;
    text-align: center;
}

.menu-burgered {
    margin: auto;
    width: 152px;
    height: 220px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.menu-burgered .logo-block {
    position: relative;
}

.burger-sm img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 4px;
    display: table;
    margin: auto;
}

.kinoafisha-bg-block {
    height: 331px;
}

.kinoafisha-bg-block .img-bg-afisha {
    background: url(../img/kinoafisha-bg.png);
    background-position: top center;
    background-size: cover;
    height: 331px;
}

.kinoafisha-bg-block .img-overlay-afisha {
    background: rgba(44, 66, 81, 0.4);
}

.kinoafisha-bg-block .search-block {
    top: 140px;
    width: 709px;
    height: 50px;
}

.kinoafisha-bg-block .search-block-inner {
    height: 50px;
}

.kinoafisha-bg-block .search-btn a {
    height: 58px;
    width: 58px;
}

.kinoafisha-bg-block .search-btn {
    position: absolute;
    right: -58px;
    top: -5.5px;
}

.kinoafisha-select {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100px;
    width: 55px;
    margin: auto;
    z-index: 3;
}

.kinoafisha-select select {
    border: none;
    font-size: 20px;
    font-family: 'bpg_web_001_caps';
    color: #fff;
    background-color: transparent;
    outline: 0;
}

.kino-bg-lenta {
    position: absolute;
    left: 0;
    right: 0;
    top: 17px;
    margin: auto;
    width: 152px;
    height: 220px;
    background: url(../img/kino-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    z-index: 3;
}

.kinoafisha-categories-dest {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25px;
    z-index: 5;
    width: 100%;
}

.kinoafisha-categories-dest-inner {
    display: table;
    margin: auto;
}

.cat-afisha-each {
    width: 145px;
    float: left;
    margin-right: 10px;
}

.cat-afisha-each:last-child {
    margin-right: 0px;
}

.cat-afisha-each label {
    width: 145px;
    height: 40px;
    border-radius: 30px;
    cursor: pointer;
    float: left;
    display: block;
    text-align: center;
    font-size: 12px;
    font-family: 'bpg_web_001_caps';
    line-height: 40px;
}


.cat-afisha-each input[type=checkbox] {
    display: none
}

.cat-afisha-each input[type=checkbox] + label {
    background: rgba(255, 255, 255, 0.6);
    color: rgb(27, 45, 42);
}

.cat-afisha-each input[type=checkbox]:checked + label {
    background: #fff;
    color: rgb(66, 185, 71);
}

.search-filters-block {
    background: #fff;
    height: 70px;
}

.search-filters-block-inner {
    padding: 15.5px 40px 0 40px;


}

.filter-language {
    float: left;
    padding-top: 8px;
}

.filter-price-range {
    float: left;
    padding-top: 8px;
    margin-right: 20px;
}

.film-3d-block {
    float: left;
    padding-top: 8px;
}

.film-genre {
    float: left;
    padding-top: 8px;
}

.language-title {
    color: rgb(27, 45, 42);
    font-size: 14px;
    font-family: 'bpg_web_001_caps';
    padding-right: 15px;
}

.filter-language a {
    color: rgb(44, 66, 81);
    opacity: 0.6;
    font-size: 11px;
    font-family: 'bpg_web_001_caps';
    margin-right: 18px;
    text-decoration: none;
}

.filter-language a:last-child {
    margin-right: 0px;
}

.filter-language a.active {
    color: #42B947;
    background: url(../img/dot.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    padding-bottom: 15px;
}

.seperator-line {
    height: 40px;
    width: 1px;
    background: #49516F;
    opacity: 0.2;
    float: left;
    display: block;
    margin: 0 20.5px;
}

.price-range-title {
    color: rgb(27, 45, 42);
    font-size: 14px;
    font-family: 'bpg_web_001_caps';
    padding-right: 15px;
    float: left;
    display: block;
}

#range-slider {
    width: 540px;
    float: left;
    margin-top: 8px;
    margin-left: 15px;
}

.noUi-horizontal .noUi-handle {
    width: 32px;
    height: 24px;
    border-radius: 0%;
    border: 1px solid #42B947;
    background: url(../img/circle.png);
    background-repeat: no-repeat;
    background-position: center;
    outline: 0;
    top: -10px;
    border: none;
    box-shadow: none;
}

.noUi-connects {
    border-radius: 0px;
    background: rgba(149, 152, 154, 0.1);
    height: 2px;
}

.noUi-connect {
    background: #42B947;
    height: 2px;
}

.noUi-handle:after,
.noUi-handle:before {
    height: 0px;
}

.noUi-target {
    background: none;
    border-radius: 0px;
    border: none;
    box-shadow: none;
}

.noUi-horizontal .noUi-tooltip {
    bottom: -23px;
    border: none;
    padding: 0;
    font-size: 13px;
    font-family: 'roboto-cond';
    color: #2C4251;
    background: transparent;
}

.noUi-tooltip span {
    font-family: 'bpg_gel';
    font-size: 12px;
}

.switch-3d .slider {
    border: 1px solid #000;
}

.switch-3d .switch {
    width: 32px;
}

.switch-3d input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
}

.movie3d {
    float: left;
    display: block;
    margin-right: 8px;
    font-size: 14px;
    color: #1B2D2A;
    font-family: 'bpg_web_001_caps';
}

.bootstrap-select {
    outline: 0;
}

.film-genre .bootstrap-select .btn {
    box-shadow: none;
    background: transparent;
    border: none;
    outline: 0;
    font-size: 14px;
    color: #1B2D2A;
    font-family: 'bpg_web_001_caps';
    padding-right: 30px;
    padding-top: 0px;
}

.film-genre .bootstrap-select .btn:active,
.film-genre .bootstrap-select .btn:hover,
.film-genre .bootstrap-select .btn:focus {
    box-shadow: none;
    background: transparent;
    border: none;
    outline: 0 !important;
}

.film-genre .bootstrap-select .caret {
    border: none;
    background: url(../img/arrow-down.png);
    background-position: right center;
    background-repeat: no-repeat;
    width: 10px;
    height: 6px;
    top: 35% !important;
}

.bootstrap-select.btn-group .dropdown-menu li a span.text {
    font-family: 'bpg_web';
    font-size: 12px;
    color: rgba(44, 66, 81, 0.8);
}

.dropdown-menu > li > a {
    outline: 0;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background: #42B947;

}

.dropdown-menu > li > a:hover span.text,
.dropdown-menu > li > a:focus span.text {
    color: #fff !important;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: auto;
}

.days-hours-filter {
    display: table;
    margin: auto;
    margin-top: 20px;
}

.days-each {
    width: 70px;
    height: 70px;
    float: left;
    background: #E6E7E9;
    border-radius: 50%;
    text-align: center;
    margin-right: 4px;
    cursor: pointer;
}

.days-each:last-child {
    margin-right: 0px;
}

.days-each-inner {
    padding: 15px 0px 0px 0px;
}

.day-digit,
.month-title {
    color: rgba(27, 45, 42, 0.9);
    font-size: 11px;
    font-family: 'bpg_web_001_caps';
    line-height: normal;
}

.weekday {
    display: block;
    font-size: 13px;
    font-family: 'bpg_web_001_caps';
    line-height: normal;
    color: rgba(27, 45, 42, 0.9);
}

.day-each-active {
    background: #577EE8;
}

.day-each-active .day-digit,
.day-each-active .month-title {
    color: rgba(255, 255, 255, 0.7);
}

.day-each-active .weekday {
    color: #fff;
}

.soon-txt {
    font-size: 14px;
    color: #577EE8;
    font-family: 'bpg_web_001_caps';
    padding-top: 10px;
    display: block;
}

.days-filter-top {
    margin-bottom: 20px;
    overflow: hidden;
}

.hours-filter-bottom {
    clear: both;
    display: table;
    margin: auto;
}

.hours-each {
    float: left;
    width: 94px;
    height: 40px;
    border-radius: 30px;
    line-height: 42px;
    text-align: center;
    background: rgba(44, 66, 81, 0.07);
    margin-right: 8px;
    cursor: pointer;

}

.hours-each:last-child {
    margin-right: 0px;
}

.hoours-sp {
    color: #2C4251;
    font-size: 14px;
    display: block;
    font-family: 'roboto-cond';
}

.hours-each-active {
    background: #577EE8;
}

.hours-each-active .hoours-sp {
    color: #fff;
}

.transport-tabs-bk {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 4;
    top: 190px;
}

.transport-tabs-bk-inner {
    display: table;
    margin: auto;
}

.transport-tab-each {
    width: 210px;
    height: 60px;
    float: left;
    background: #fff;
    font-size: 14px;
    color: #1B2D2A;
    font-family: 'bpg_web_001_caps';
    line-height: 60px;
    text-align: center;
    border-right: 1px solid #DADCE2;
}

.transport-tabs-bk-inner div.active {
    background: #42B947;
    color: #fff;
    border-right: 0px;
}

.plan-box-fx {
    width: 190px;
    height: 140px;
    background: #42B947;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: table;
    margin: auto;
    z-index: 4;
    cursor: pointer;
}

.plan-box-fx a {
    text-decoration: none;
}

.plan-box-fx-inner {
    font-size: 16px;
    color: #fff;
    font-family: 'bpg_web_001_caps';
    text-align: center;
    padding: 30px 0 0 0;
    background: url(../img/transport-icon.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    padding-bottom: 45px;
}

.transport-bg-block {
    height: 585px;
}

.transport-type {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 5;
    bottom: 180px;
    border-radius: 50px;
    width: 450px;
    height: 100px;
    background: #49516F;
}

.fiter-startEnd {
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    z-index: 5;
}

.fiter-startEnd-inner {
    display: table;
    margin: auto;
}

.filter-dest-each {
    float: left;
    width: 260px;
    height: 60px !important;
    margin-right: 10px;
}

.filter-dest-each:last-child {
    margin-right: 0px;
}

.filter-dest-each .bootstrap-select {
    width: 100% !important;
    height: 100% !important;
}

.filter-dest-each .bootstrap-select .btn {
    background: #EDD658;
    border: none;
    border-radius: 30px;
    color: #2E2E2E;
    font-size: 14px;
    font-family: 'bpg_web_001_caps';
    padding-left: 30px;
    padding-top: 0px;
    width: 100%;
    height: 100%;
    text-shadow: none;
    box-shadow: none;
    outline: 0 !important;
    line-height: 60px;
    transition: 0.1s;
}

.filter-dest-each .bootstrap-select .btn:hover {
    background: #EDD658 !important;
}

.filter-dest-each .open .btn {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.filter-dest-each div.dropdown-menu {
    margin-top: -8px;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border: none !important
}

.filter-dest-each .dropdown-menu > li > a:hover,
.filter-dest-each .dropdown-menu > li > a:focus {
    background: #49516F;
}

.filter-dest-each .bootstrap-select .caret {
    border: none;
    background: url(../img/arrow-wt.png);
    background-position: right center;
    background-repeat: no-repeat;
    width: 10px;
    height: 6px;
    top: 50% !important;
    right: 18px !important;
}

.transport-type-each {
    float: left;
    width: 33.333%;
    font-size: 14px;
    color: #fff;
    font-family: 'bpg_web';
    text-align: center;
    cursor: pointer;
}

.transport-type-each span {
    display: block;
    height: 30px;
    line-height: 30px;
    background: url(../img/sep-gr.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.transport-type-each:last-child span {
    background: none;
}

.tp-plane {
    background: url(../img/plane-wt.png);
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 36px;
}

.tp-plane-act {
    background: url(../img/plane-ic.png);
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 36px;
    color: #42B947;
}

.tp-train {
    background: url(../img/train-ic.png);
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 36px;
}

.tp-train-act {
    background: url(../img/train-wt.png);
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 36px;
    color: #42B947;
}

.tp-bus {
    background: url(../img/bus-ic.png);
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 36px;
}

.tp-bus-act {
    background: url(../img/bus-wt.png);
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 36px;
    color: #42B947;
}

.transport-type-inner {
    padding: 20px 0px 0px 15px;
}

.transport-plane-body {
    padding: 40px 40px 0px 30px;
}

.plane-schedule-each {
    background: #fff;
    width: 100%;
    height: 160px;
    position: relative;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
    margin-bottom: 20px;
}

.plane-schedule-inner {
    padding: 33px 0 0 0;
}

.flight-number {
    position: absolute;
    left: -30px;
    top: 50%;
    margin-top: -20px;
    width: 86px;
    height: 40px;
    background: #42B947;
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    font-family: 'roboto-cond';
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.plane-start-dest {
    float: left;
    width: 24.76%;
    margin-right: 34px;
}

.plane-start-dest-inner {
    float: right;
}

.plane-start-dest-inner span {
    display: block;
    margin-bottom: 6px;
    text-align: right;
    line-height: normal;
}

.flight-date {
    font-size: 20px;
    color: #E87157;
    font-family: 'roboto-cond';
}

.flight-dest-from,
.flight-dest-to {
    font-size: 16px;
    color: #2E2E2E;
    font-family: 'bpg_web_001_caps';
}

.fligt-dest-airport {
    font-size: 14px;
    color: #2E2E2E;
    font-family: 'bpg_excelsior';
}

.flight-directions-bk {
    float: left;
    width: 26.15%;
    margin-right: 46px;
}

.lefted-schedule {
    float: left;
    width: 61.4%;
}

.righted-schedule {
    float: right;
    width: 32.2%;
}

.plane-end-dest {
    float: left;
    width: 30%;
    text-align: left;
}

.plane-end-dest span {
    display: block;
}

.flight-codenm {
    text-align: center;
    display: block;
}

.fligt-company {
    text-align: center;
    display: block;
    font-size: 14px;
    color: #2E2E2E;
    font-family: 'bpg_excelsior';
}

.fligt-company i {
    display: block;
}

.flight-codenm {
    font-weight: bold;
    font-size: 16px;
    color: #1B2D2A;
    padding-bottom: 3px;
}

.flight-duration {
    float: left;
    min-height: 110px;
    border-right: 1px solid rgba(73, 81, 111, 0.2);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding-right: 31px;
    padding-left: 35px;
}

.duration-digits {
    padding-top: 45px;
    font-size: 16px;
    color: #1B2D2A;
    font-family: 'roboto-cond';
    display: block;
}

.duration-title {
    font-size: 14px;
    color: #2E2E2E;
    font-family: 'bpg_web';
}

.flight-days {
    float: left;
    padding-left: 26px;
}

.flight-daystitle {
    font-size: 14px;
    color: #2E2E2E;
    font-family: 'bpg_web';

}

.flight-days-list {
    color: #2E2E2E;
    font-size: 14px;
    font-family: 'BPG_Excelsior_Caps';
    padding-top: 45px;
    display: block;
}

.seperator-schedule {
    position: absolute;
    top: 0;
    right: 32.2%;
}

.img-bg-valuta {
    background: url(../img/valuta-bg.png);
    background-position: top center;
    background-size: cover;
    height: 311px;
}

.bg-valuta-block {
    height: 311px;
}

.valuta-convertor {
    position: absolute;
    z-index: 5;
    bottom: -40px;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
    height: 170px;
    background: #49516F;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.valuta-convertor-inner {
    padding: 35px 37px 0 35px;
    position: relative;
}

.left-from-con {
    float: left;
}

.left-from-con input {
    width: 174px;
    height: 50px;
    background: url(../img/input-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    outline: 0;
    position: relative;
    z-index: 2;
    color: #E87157;
    font-size: 16px;
    font-family: 'roboto-cond';
    padding-left: 55px;
    padding-right: 30px;
}

.left-to-con {
    float: left;
}

.left-to-con input {
    width: 164px;
    height: 50px;
    background: #fff;
    border: none;
    outline: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: -10px;
    color: #E87157;
    font-size: 16px;
    font-family: 'roboto-cond';
    color: #42B947;
    padding-left: 72px;
    padding-right: 30px;
}

.left-cur-from {
    float: left;
}

.left-cur-to {
    float: right;
}

.convertor-inps-top {
    margin-bottom: 10px;
    overflow: hidden;
}

.left-cur-from .bootstrap-select .btn {
    width: 135px;
    height: 40px;
    font-size: 14px;
    color: #E87157;
    font-family: 'bpg_web_001_caps';
    border: none;
    outline: 0;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
    text-transform: uppercase;
    padding-left: 55px;
}

.left-cur-from .bootstrap-select .btn:hover {
    background-color: #fff !important;
    color: #E87157;
    outline: 0 !important;
}

.left-cur-from .bootstrap-select .caret {
    border: none;
    background: url(../img/arrow-blk.png);
    background-position: right center;
    background-repeat: no-repeat;
    width: 10px;
    height: 6px;
    top: 48% !important;
}

.left-cur-to .bootstrap-select .btn {
    width: 135px;
    height: 40px;
    font-size: 14px;
    color: #42B947;
    font-family: 'bpg_web_001_caps';
    border: none;
    outline: 0;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
    text-transform: uppercase;
    padding-left: 55px;
}

.left-cur-to .bootstrap-select .btn:hover {
    background-color: #fff !important;
    color: #42B947;
    outline: 0 !important;

}

.valuta-convertor .bootstrap-select .dropdown-menu li a span.text {
    text-transform: uppercase;
}

.valuta-sepicon {
    float: left;
    margin: 8px 0 0 20px;
}

.currencies-body {
    width: 970px;
    margin: auto;
    padding-top: 120px;
}

.search-all-currency {
    float: left;
    position: relative;
    width: 410px;
    height: 50px;
    margin-right: 28px;
}

.search-all-currency input {
    width: 100%;
    height: 100%;
    outline: 0;
    border-radius: 25px;
    border: 1px solid #E0E0E0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
    font-family: 'bpg_phone_sans_italic';
    font-size: 12px;
    color: #2E2E2E;
    padding-left: 60px;
}

.search-all-currency button {
    position: absolute;
    top: 17px;
    left: 22px;
    border: none;
    outline: 0;
    background: url(../img/search-blk.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
}

.erovnuli-bank {
    float: left;
    margin-top: 5px;
    margin-right: 24px;
}

.erovnuli-bank button {
    outline: 0;
    border: 1px solid #577EE8;
    border-radius: 20px;
    background: transparent;
    color: #1B2D2A;
    font-size: 12px;
    font-family: 'bpg_web_001_caps';
    padding: 12px 24px;
    line-height: normal;
}

.currecny-header {
    margin-bottom: 50px;
}

.commercial-bank {
    float: left;
    margin-top: 5px;
}

.commercial-bank button {
    outline: 0;
    border: 1px solid #577EE8;
    border-radius: 20px;
    background: transparent;
    color: #1B2D2A;
    font-size: 12px;
    font-family: 'bpg_web_001_caps';
    padding: 12px 18px;
    line-height: normal;
}

.conversion-jixuri {
    float: right;
    margin-top: 5px;
}

.conversion-jixuri button {
    outline: 0;
    border: 1px solid #577EE8;
    border-radius: 20px;
    background: transparent;
    color: #1B2D2A;
    font-size: 12px;
    font-family: 'bpg_web_001_caps';
    padding: 12px 24px;
    line-height: normal;
}

.head-tb-left,
.tb-bd-lefted {
    float: left;
    width: 41%;
}

.head-tb-right,
.tb-bd-righted {
    float: right;
    width: 54.8%;
}

.hd-tb-item {
    float: left;
    font-size: 10px;
    color: rgba(7, 7, 7, 0.7);
    font-family: 'bpg_web_001_caps';
    line-height: 11px;
    letter-spacing: 0.2px;
}

.table-currency-title,
.bd-currency-title {
    width: 60%;
    padding-left: 4px;
}

.bd-currency-title {
    font-size: 12px;
    color: #2E2E2E;
    font-family: 'bpg_web';
}

.table-currency-code {
    width: 37.5%;
}

.bd-currency-code {
    color: rgba(33, 33, 33, 0.5);
    font-size: 12px;
    font-family: 'bpg_web_001_caps';
    padding-left: 3px;
}

.table-currency-rate,
.tb-bd-currency-rate {
    width: 31%;
    margin-right: 24px;
    text-align: center;
}

.tb-bd-currency-rate {
    font-size: 14px;
    color: #42B947;
    font-family: 'BPG_Excelsior_Caps';
}

.tb-buy-sell-group-commercial,
.tb-bd-buysell-group-com {
    width: 34.5%;
    float: left;
    text-align: center;
}

.table-currency-commercial-buy,
.table-currency-jixuri-buy,
.tb-bd-buy-com,
.tb-bd-buy-jix {
    margin-right: 13px;
}

.tb-bd-buy-com,
.tb-bd-buy-jix {
    font-size: 14px;
    color: #E87157;
    font-family: 'BPG_Excelsior_Caps';
}

.tb-bd-sel-com,
.tb-bd-sel-jix {
    font-size: 14px;
    color: #42B947;
    font-family: 'BPG_Excelsior_Caps';
}

.tb-buy-sell-group-jixuri,
.tb-bd-buysell-group-jix {
    float: right;
    width: 20%;
}

.tb-buy-sell-group-commercial-inner,
.tb-buy-sell-group-jixuri-inner,
.tb-bd-buysell-group-com-inner,
.tb-bd-buysell-group-jix-inner {
    display: table;
    margin: auto;
}

.table-header {
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 6px;
}

.tb-bd-item-each {
    float: left;
}

.table-body-item:first-child {
    border-top: 0px;
}

.table-body-item:last-child {
    border-bottom: 1px solid #E0E0E0;
}

.table-body-item {
    overflow: hidden;
    border-top: 1px solid #E0E0E0;
}

.table-body-item-inner {
    padding: 21px 0;
    overflow: hidden;
}

.img-bg-valuta-tw {
    background: url(../img/valuta2-bg.png);
    background-position: top center;
    background-size: cover;
    height: 345px;
}

.valuta2-bg-block {
    height: 345px;
}

.valuta2-bg-block .category-title {
    position: absolute;
    top: 150px;
}

.currency-body-statistic {
    padding-top: 100px;
    overflow: hidden;
}

.other-banks-currency {
    float: left;
    width: 28.1%;
    margin-left: 105px;
}

.other-bk-title {
    font-size: 20px;
    color: #070707;
    font-family: 'bpg_web';
    padding-bottom: 50px;
}

.oth-bk-title,
.oth-bank-buyrate-title,
.oth-bank-sellrate-title {
    font-size: 10px;
    color: rgba(7, 7, 7, 0.7);
    font-family: 'bpg_web_001_caps';
    line-height: 11px;
    letter-spacing: 0.2px;
}

.oth-bk-tb-hd-left {
    float: left;
    width: 50%;
}

.oth-bk-title {
    width: 100%;
    float: left;
}

.oth-bk-tb-hd-right {
    float: right;
    width: 49%;
    overflow: hidden;
}

.oth-bank-buyrate-title {
    float: left;
    width: 50%;
    padding-left: 3px;
}

.oth-bank-sellrate-title {
    float: right;
    width: 50%;
}

.other-banks-table-head {
    overflow: hidden;
    padding-bottom: 6px;
}

.oth-tb-bd-left {
    float: left;
    width: 50%;
}

.oth-tb-bd-banktitle {
    width: 100%;
    font-size: 12px;
    color: #2E2E2E;
    font-family: 'bpg_web';
}

.oth-tb-bd-right {
    float: right;
    width: 49%;
}

.oth-tb-bd-buyrate {
    float: left;
    width: 50%;
    font-size: 14px;
    color: #E87157;
    font-family: 'BPG_Excelsior_Caps';
}

.oth-tb-bd-sellrate {
    float: right;
    width: 50%;
    font-size: 14px;
    color: #42B947;
    font-family: 'BPG_Excelsior_Caps';
    padding-left: 3px;
}

.tb-bd-other-each:first-child {

    border-top: 1px solid #E0E0E0;
}

.tb-bd-other-each {
    border-bottom: 1px solid #E0E0E0;
    overflow: hidden;
}

.tb-bd-other-each-inner {
    overflow: hidden;
    padding: 20px 0px;
}
